suites:
    Core:
        namespace: IBM\Watson\Core
        psr4_prefix: IBM\Watson\Core
        src_path: src/Core
        spec_path: src/Core
        composer_suite_detection: true
    ToneAnalyzer:
        namespace: IBM\Watson\ToneAnalyzer
        psr4_prefix: IBM\Watson\ToneAnalyzer
        src_path: src/ToneAnalyzer
        spec_path: src/ToneAnalyzer
        composer_suite_detection: true

formatter.name: pretty
